## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 10
print(a)

10

2) Imprimir el tipo de dato de la constante 8.5

In [7]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [8]:
nombre="Luciano"

5) Crear una variable que contenga un número complejo

In [23]:
x= 4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
type(x)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [17]:
import math
pi= round(math.pi, 4)

pi

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [69]:
b="True"
c=True

#No se trata de lo mismo.
# b es igual a una cadena que contiene los caracteres que forman la palabra "True"
# c es igual a un valor booleano. Solo existen true y false

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [70]:
print(type(b))
print(type(c))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [20]:
sum = 5 + 5.5

11) Realizar una operación de suma de números complejos

In [22]:
4j + 4j

8j

12) Realizar una operación de suma de un número real y otro complejo

In [24]:
4 + 4j

(4+4j)

13) Realizar una operación de multiplicación

In [25]:
4 * 3

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [26]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
div = 27 / 4
div

6.75

16) De la división anterior solamente mostrar la parte entera

In [36]:
27 // 4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [40]:
6 * 4 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [41]:
"Hola " + "Mundo"

'Hola Mundo'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [43]:
"2" == 2 

#Ocurre porque si bien los números son iguales a la vista, en realidad son tipos de datos diferentes. Uno es un string y el otro es un numero entero.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [71]:
str1="2"    
2 == int(str1)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [53]:
#Arroja error porque el metodo float está intentando convertir un dato de tipo cadena
#en un dato de tipo numero entero flotante y no lo puede hacer

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [56]:
variable = 3
variable -= 1
variable

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [60]:
1 << 2
#No estoy muy seguro de por qué da ese resultado pero aparentemente se está haciendo una operacion de potencia interna
#por lo que el valor devuelto es 4 ya que se hace una multiplicacion de bit a bit

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [66]:
print(2 + 2)
print("2" + "2")
#No está permitido porque la operacion de suma no puede hacerse si los datos o los valores no son del mismo tipo
#Si los operandos fueran del mismo tipo no obtendriamos mismos resultados.
# Para el caso de dos int obtendremos un resultado de 4
# para el caso de dos str obtendremos un resultado de "22" porque se concatenan los carácteres dentro de las cadenas

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [74]:
saludo = "Hola! "
num = 2

print(saludo * num, "Se repite", num, "veces")

Hola! Hola!  Se repite 2 veces